body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/931/388/951/miui-8-weather-background-minimal-hd-wallpaper-thumb.jpg");
}

#gradus {
  font-size: 70px;
}

.error {
  background: red;
  color: white;
}

.success {
  background: green;
  color: aliceblue;
}
